* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

body {  
    background-color: white;
    /*background-image: url(imagenes/cammino1.jpg);*/
    font-family: sans-serif;
}

.contenedor {
    margin: 0 auto;
    max-width: 100%; 
    overflow: hidden;
    width: 90%;
}

header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.logo {
    align-items: center;
    height: auto; 
    margin-left: 15px; 
}

nav { 
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    margin-right: 50px;
    font-weight: bold;
    /*background-color: #ed8e24;*/
    background-color: white;
}
/*
nav a {
    color: darkorange;
    font-size: 16px;
    font-weight: bold;    
    text-decoration: none;    
}

a:hover {
    background-color: white;
    color: black;
}*/

/*nav {
    max-width: 900px;
    margin: auto;
    background-color: #ed8e24;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px; 
}*/

.horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.horizontal > li > a {
    display: block;
    padding: 5px 25px;
    color: #ed8e24;
    text-decoration: none;
}

.horizontal > li:hover {
    background-color: #00aeef;
}

.vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 130px;
    background-color: white;
}

.horizontal li:hover .vertical {
    display: block;
}

.vertical li:hover {
    background-color: #00aeef;
}

.vertical li a {
    display: block;
    color: #ed8e24;
    padding: 5px 15px 5px 35px;
    text-decoration: none;
}

.inicio {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#figura-inicio {
    cursor: pointer;
    height: auto;
    max-width: 720px;
    transition: 0.8s;
}           

#figura-inicio:hover {
    filter: brightness(60%);
    transform: scale(.8);
}

#opcion1 h2 {
    background-color: white;
    color: #ed8e24;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 50px;    
}

#tienda {
    align-items: center;
    display: flex;
    text-align: center;
}

.maintienda {
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 30px 40px; 
    margin-top: 25px;
    margin-bottom: 25px;
}

.maintienda img {    
    max-width: 100%;
    height: auto;
}

.asidetienda {
    background-color: darkorange;
    padding: 40px 60px;
    overflow: hidden;    
    border: 2px solid mediumslateblue;
}

.asidetienda h2 {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
}

.asidetienda p {
    color: black;
    font-size: 14px;
    text-align: justify;
}

#opcion2 h2 {
    background-color: white; 
    color: #ed8e24;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 50px;
}

.productos {
    display: grid;    
    gap: 10px;   
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.productos h3 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.productos p {
    color: black;   
    font-size: 20px;
    text-align: center;
}

.carta {
    background-color: white;
    border-radius: 10px;
    /*border: ridge #ed8e24;*/
    border: ridge mediumslateblue;
     
    box-shadow: 2px 2px 10px rgba(0,0,0,0); 
    padding: 15px;
    text-align: center;
}

#opcion3 h2 {
    background-color: white; 
    color: #ed8e24;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 50px;
}

#contacto {
    align-items: center;
    display: flex;
    text-align: center;
}

.maincontacto {
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 10px 140px; 
    margin-top: 25px;
    margin-bottom: 25px;
}

.maincontacto img {    
    max-width: 100%;
    height: auto;
}

.asidecontacto {
    background-color: darkorange;
    padding: 40px 40px;
    border: 2px solid mediumslateblue;
}

.asidecontacto p {
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.asidecontacto img {
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.asidecontacto a{
    background-color: darkorange;
}

#final {    
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}


/* Media Queries para diseño responsive*/
@media (max-width: 992px) {
    header {
        flex-direction: column;
        text-align: center; 
    }
    .vertical a {
        text-align: left;
    }    
    .vertical li a {
        padding: 3px 5px 3px 25px;
    }
    #tienda {
        flex-direction: column;
    }
    #contacto {
        flex-direction: column;
    }
    .asidecontacto p {
    font-size: 14px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }  
    nav a {
        margin: 10px 0;
    }
    .vertical a {
        text-align: left;
    }
    .vertical li a {
        padding: 3px 5px 3px 25px;
    }
    #tienda {
        flex-direction: column;
    }
    .asidetienda {
        display: grid;
    }
    .carta {
        padding: 10px;
    }
        #contacto {
        flex-direction: column;
    }
}

@media (max-width: 480px) {    
    .vertical a {
        text-align: left;
    }
    .vertical li a {
        padding: 3px 5px 3px 25px;
    }
    #figura-inicio img {
        max-width: 100%;
    }
    .maintienda {
        padding: 10px;
    }
    .asidetienda {
        padding: 10px;
    }
    .carta {
        padding: 10px;
    }
        #contacto {
        flex-direction: column;
    }
}