* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

body {  
    background-color: white;
    font-family: sans-serif;
}

.contenedor {
    margin: 0 auto;
    max-width: 100%; 
    overflow: hidden;
    width: 90%;
}

header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.logo {
    align-items: center;
    height: auto; 
    margin-left: 15px; 
}

.logo img {
    width: 170px;
    height: 150px;
}

nav { 
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    margin-right: 50px;
    font-weight: bold;
    background-color: white;
}

.horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.horizontal > li > a {
    display: block;
    padding: 5px 25px;
    color: #ed8e24;
    text-decoration: none;
}

.horizontal > li:hover {
    /*background-color: #e2edff;*/
    /*text-decoration: underline;
    text-decoration-color: #00aeef;
    text-decoration-style: solid;*/
    border: 2px solid #00aeef;
}

.vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 130px;
    background-color: white;
}

.horizontal li:hover .vertical {
    display: block;
}

.vertical li:hover {
    /*background-color: #00aeef;*/
    /*background-color: #aac9ff;*/
    text-decoration: underline;
    text-decoration-color: #00aeef;
    text-decoration-style: 4px solid;
}

.vertical li a {
    display: block;
    color: #ed8e24;
    padding: 5px 15px 5px 35px;
    text-decoration: none;
}

.inicio {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#figura-inicio {
    cursor: pointer;
    height: auto;
    max-width: 720px;
    transition: 0.8s;
}           

#figura-inicio:hover {
    filter: brightness(60%);
    transform: scale(.8);
}

#opcion1 h2 {
    background-color: white;
    color: #ed8e24;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 50px;    
}

#tienda {
    align-items: center;
    display: flex;
    text-align: center;
}

.maintienda {
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 30px 40px; 
    margin-top: 25px;
    margin-bottom: 25px;
}

.maintienda img {    
    max-width: 100%;
    height: auto;
}

.asidetienda {
    background-color: darkorange;
    padding: 40px 60px;
    overflow: hidden;    
    border: 2px solid mediumslateblue;
}

.asidetienda h2 {
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
}

.asidetienda p {
    color: black;
    font-size: 14px;
    text-align: justify;
}

#opcion2 h2 {
    background-color: white; 
    color: #ed8e24;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 50px;
}

.menu-productos {
    display: grid;    
    gap: 20px;   
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.menu-productos a {
    font-size: 26px;
    font-weight: bold;
    font-family: georgia;
    color: white;
    border-style: double;
}

.cartas {
    background-color: white;
    border-radius: 0px;
    border: ridge darkorange; 
    padding: 100px;
    text-align: center;
}

#carta1 {
    background-image: url(imagenes/chocolates.jpg);
    background-repeat: no-repeat;
}

#carta2 {
    background-image: url(imagenes/dulces.jpg);    
    background-repeat: no-repeat;
}

#carta3 {
    background-image: url(imagenes/galletas.jpg);
    background-repeat: no-repeat;   
}

.productos {
    display: grid;    
    gap: 10px;   
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.productos h3 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

.productos p {
    color: black;   
    font-size: 20px;
    text-align: center;
}

#chocolates h2 {
    background-color: white; 
    color: #00aeef;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 40px;
}

#dulces h2 {
    background-color: white; 
    color: #00aeef;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 40px;
}

#galletas h2 {
    background-color: white; 
    color: #00aeef;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 40px;
}

.carta {
    background-color: white;
    border-radius: 10px;
    border: ridge darkorange;   
    box-shadow: 2px 2px 10px rgba(0,0,0,0); 
    padding: 15px;
    text-align: center;
}

#opcion3 h2 {
    background-color: white; 
    color: #ed8e24;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
    margin-bottom: 50px;
}

#contacto {
    align-items: center;
    display: flex;
    text-align: center;
}

.maincontacto {
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 10px 140px; 
    margin-top: 25px;
    margin-bottom: 25px;
}

.maincontacto img {
    width: 250px;
    height: 250px;
    /*max-width: 100%;
    height: auto;*/
}

.asidecontacto {
    background-color: darkorange;
    padding: 40px 40px;
    border: 2px solid mediumslateblue;
}

.asidecontacto p {
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.asidecontacto img {
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.asidecontacto a{
    background-color: darkorange;
}

#final {    
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}


/* Media Queries para diseño responsive*/
@media (max-width: 992px) {
    header {
        flex-direction: column;
        text-align: center; 
    }    
    .vertical a {
        text-align: left;
    }    
    .vertical li a {
        padding: 3px 5px 3px 25px;
    }
    #tienda {
        flex-direction: column;
    }
    .cartas {
        padding: 5px;
    }
    .carta {
        padding: 10px;
    }
    #contacto {
        flex-direction: column;
    }
    .asidecontacto p {
    font-size: 14px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }  
    .vertical a {
        text-align: left;
    }
    .vertical li a {
        padding: 3px 5px 3px 25px;
    }
    #tienda {
        flex-direction: column;
    }
    .asidetienda {
        display: grid;
    }
    .cartas {
        padding: 5px;
    }
    .carta {
        padding: 10px;
    }
        #contacto {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    /*header {
        flex-direction: column; xxx
        text-align: center;
    }*/
    /*header {
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        padding: 5px;
        align-items: center;
    }
    nav { 
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        margin-right: 30px;
        font-weight: bold;
        background-color: pink;
    }*/
    .logo {
        margin-left: 2% 
    }
    .logo img {
        width: 90px;
        height: 70px;
        /*margin-right: 80px;*/
    }
    /*.horizontal a{
        text-align: center;
    }*/
    /*.horizontal li a {
        padding: 3px 5px 3px 40px;
        padding: 3px 3px 3px 35px;
    }*/
    .vertical a {
        text-align: left;
    }
    .vertical li a {
        padding: 3px 5px 3px 25px;
    }
    #figura-inicio img {
        max-width: 100%;
    }
    .maintienda {
        padding: 10px;
    }
    .asidetienda {
        padding: 10px;
    }
    .cartas {
        padding: 5px;
    }
    .carta {
        padding: 10px;
    }
        #contacto {
        flex-direction: column;
    }
    .maincontacto img {
        width: 150px;
        height: 150px;
    }
}